body
{
   background-color: #b0c4de;
}

.main-wrapper
{
   padding-top:100px;
   width:600px;
   height:400px;
   margin:0 auto; 
}

.right-wrapper
{
   float:left;
   width:250px;
   height:400px;
}

.left_column
{
   width:340px;
   height:400px;
   float:left;
}

.right_up_colum
{
   background-color:FFFFFF;
   margin-left:auto;
   width: 240px;
   float:right;
   height: 150px;
}


.right_down_colum
{
   background-color:#FFFFFF;
   margin-left:auto;
   float:right;
   width: 240px;
   height:240px;
}

.splitter
{
   margin-left:auto;
   width:240px;
   height:10px;
   float:right;
}

label
{
   float:left
   text-align:right;
   margin-left:5px;
   clear:both;
   width:50px;
}

input
select
{
   clear:both;
   float:right;
   margin-right:5px;
   width:150px;
}
